<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Informacion Libro</a>
    </div>

<ul class="nav navbar-nav navbar-right">
  <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Back', libros_path %>
</button>

  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="row container">
  <div class="col-md-6 col-md-offset-5">
    <table class="table table-striped">
      <p>
        <strong>Titulo:</strong>
        <%= @libro.titulo %>
      </p>

      <p>
        <strong>Autor:</strong>
        <%= @libro.autor %>
      </p>

      <p>
        <strong>Fecha pub:</strong>
        <%= @libro.fecha_pub %>
      </p>

      <p>
        <strong>Cod dewey:</strong>
        <%= @libro.cod_dewey %>
      </p>
      <table>
      </div>
    </div>

<%= link_to 'Edit', edit_libro_path(@libro) %> 
<!-- <%= link_to 'Back', libros_path %> -->
