<p id="notice"><%= notice %></p>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Libros</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Nuevo Libro', new_libro_path, :method => :get %>
        </button>

        <% if admin_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default navbar-btn"><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
          </button>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="row container">
    <div class="col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Fecha pub</th>
            <th>Cod dewey</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <table>
        </div>
      </div>

      <div class="row container">
        <div class="col-md-6 col-md-offset-3">
          <table class="table table-striped">
            <tbody>
              <% @libros.each do |libro| %>
              <tr>
                <td><%= libro.titulo %></td>
                <td><%= libro.autor %></td>
                <td><%= libro.fecha_pub %></td>
                <td><%= libro.cod_dewey %></td>
                <td><%= link_to 'Show', libro %></td>
                <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
                <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <!-- <%= link_to 'New Libro', new_libro_path %> -->
